@import './../../../../styles/sass/variables';

.block {
  width: 100%;
  align-items: center;

  border-radius: 12px;

  .tests_list_wrapper {
    padding: 20px 20px;


    .tests_list {
      display: flex;
      flex-direction: column;
      background-color: $white_1;
      padding: 10px 20px;
      border-radius: 12px;

    }
  }
}